@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Kevin Ramirez</h1>
    <img src="https://cloudfront-us-east-1.images.arcpublishing.com/artear/2AWSHU4O7ZENXLJR7DE4IC2VHM.jpg" style="width:100%;" />
    <p>El Club Atlético River Plate es una entidad polideportiva de Argentina.​ Fue fundado el 25 de mayo de 1901 en el barrio de La Boca, tras la fusión de los clubes Santa Rosa y La Rosales, y su nombre proviene de la antigua denominación que se le daba en el inglés británico al Río de la Plata.</p>
</div>
